.main-container {
    margin-left: 350px;
    margin-top: 20px;
  }
  
  .modal-dialog {
    margin-left: 500px;
    margin-top: 10px;
  }
  
  .row {
    margin-left:405px;
  }

  .btn {
    background-color: #5b5fc7;
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
  }
  
  .btn:hover {
    background-color: #5b5fc7; /* Replace 'yourHoverColor' with the desired hover color */
  }

  .text-success{
    margin-left: 410px;
  }

  
  