/* body {
  background-color: #282c34;
  color: #134b5f;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
} */

body {
  display: flex;
  justify-content: center!important; /* Horizontally center the content */
  align-items: center!important; /* Vertically center the content */
  /* Add other CSS properties as needed */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  padding: '10px'!important;
}
.submit-btn{
  background-color: #5d8695;
  margin-top: 10px;
  color: white;

}
.main-container{
  margin-left: -70px;
}